<ion-toolbar>
  <ion-grid>
    <ion-row class="logo"><img src="../assets/LOGO.png"></ion-row>
    <ion-row class="nome_materia"><p>{{materia.subject_name}}</p></ion-row>
  </ion-grid>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let professor of professores" class="container_professores">

      <ion-card (click)="redirecionaPagProf(professor.id, professor.user_id)">
        <ion-grid>
          <ion-row>
            <ion-col class="imagem" size=4>
              <img src="../assets/materia/avatar.png">
            </ion-col>

            <ion-col size=8>
              <ion-row class="texto">{{professor.bio}}</ion-row>
              <ion-row class="texto">{{materia.subject_name}}</ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </ion-row>
  </ion-grid>
</ion-content>
