<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="logo">
        <img src="../assets/LOGO.png">
      </ion-col>

      <ion-col class="redireciona_perfil">
        <a (click)="redirecionaPerfil()">
          <ion-icon name="close-circle"></ion-icon>
        </a>
      </ion-col>
		</ion-row>

    <ion-row class="meus_agendamentos_titulo">
      <p>MEUS AGENDAMENTOS</p>
    </ion-row>

    <div class="container_agendamentos">
      <ion-row  *ngFor="let agendamento of agendamentos; let i = index" (click)="agendamentoSelecionado(i)">
        <ion-card class="card_agendamentos">
          <ion-grid>
            <ion-row class="card_titulo">
              <ion-col><p>Agendamento {{ agendamento.id }}</p></ion-col>
              <ion-col>
                <ion-button
                  [disabled]="!podeDeletar"
                  (click)="deletaAgendamento(i)"
                >
                  <ion-icon name="ios-trash" color="danger"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row class="nome_professor">
              <ion-icon name="md-people"></ion-icon>
              <ion-card><p>{{ agendamento.teacher_name }}</p></ion-card>
            </ion-row>

            <ion-row class="materia">
              <ion-icon name="ios-book"></ion-icon>
              <ion-card><p>{{ agendamento.subject_name }}</p></ion-card>
            </ion-row>

            <ion-row class="local">
              <ion-icon name="pin"></ion-icon>
              <ion-card><p>{{ agendamento.location }}</p></ion-card>
            </ion-row>

            <ion-row class="data_e_hora">
              <ion-col>
                <ion-icon name="md-calendar"></ion-icon>
                <ion-card><p>{{ agendamento.lesson_date }}</p></ion-card>
              </ion-col>

              <ion-col>
                <ion-icon name="ios-stopwatch"></ion-icon>
                <ion-card><p>{{ agendamento.lesson_time }}</p></ion-card>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
