<ion-content>
	<ion-grid>
		<ion-row class="logo"><img src="../assets/LOGO.png"></ion-row>

		<ion-row class="botao_redireciona_cadastro" (click)="redirecionaCadastro()"> <ion-button> CADASTRAR </ion-button></ion-row>

		<ion-row class="login_img">
			<img src="../assets/login_img.png">
		</ion-row>

		<ion-row class="titulo">
			LOGIN DO USUÁRIO
		</ion-row>

		<ion-row class="subtitulo">
			Bem-vindo de volta
		</ion-row>

		<ion-row class="container_form_user">
		<form
			[formGroup]="loginForm"
			(ngSubmit)="loginUsuario(loginForm)"
		>
			<ion-list>
				<ion-item>
					<ion-icon name="mail"></ion-icon>
					<ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input><ion-text color="danger">*</ion-text>
				</ion-item>

				<ion-item>
					<ion-icon name="lock"></ion-icon>
					<ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
				</ion-item>

				<ion-item class="botoes_tab1" lines="none">
					<ion-button
						type="submit"
						fill="solid"
						[disabled]="loginForm.invalid"
					>
						ENTRAR
					</ion-button>
				</ion-item>
			</ion-list>
		</form>
		</ion-row>
	</ion-grid>
</ion-content>
