<ion-content>
	<ion-grid>
		<ion-row [ngClass]="useLogin_Img ? 'login_img' : ''">
			<img src="../assets/login_img.png">
		</ion-row>

		<ion-row [ngClass]="useTitulo ? 'titulo' : ''">
			LOGIN DO USUÁRIO
		</ion-row>

		<ion-row [ngClass]="useSubtitulo ? 'subtitulo' : ''">
			Bem-vindo de volta
		</ion-row>

		<ion-row [ngClass]="useContainerFormUser ? 'container_form_user' : ''">
		<form 
			[formGroup]="registerForm" 
			(ngSubmit)="submitForm(registerForm)"
		>
			<ion-list>
				<ion-item class="invalid">
					<ion-icon name="mail"></ion-icon>
					<ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
				</ion-item>
				<ion-item class="invalid">
					<ion-icon name="lock"></ion-icon>
					<ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
				</ion-item>

				<ion-radio-group formControlName="funcao">
					<ion-radio value="professor"></ion-radio>
					<ion-label>Professor</ion-label>
				</ion-radio-group>

				<ion-item>
					<ion-radio-group formControlName="funcao">
						<ion-radio value="aluno"></ion-radio>
						<ion-label>Aluno</ion-label>
					</ion-radio-group>
				</ion-item>

				<ion-item>
					<ion-button type="submit" fill="solid" (click)="redirecionaTab1()">SUBMIT</ion-button>
				</ion-item>
			</ion-list>

		</form>
		</ion-row>
	</ion-grid>
</ion-content>
