<ion-content>
	<ion-grid>
		<ion-row [ngClass]="useLogin_Img ? 'login_img' : ''">
			<img src="../assets/login_img.png">
		</ion-row>

		<ion-row [ngClass]="useTitulo ? 'titulo' : ''">
			LOGIN DO USUÁRIO
		</ion-row>

		<ion-row [ngClass]="useSubtitulo ? 'subtitulo' : ''">
			Bem-vindo de volta
		</ion-row>

		<ion-row [ngClass]="useContainerFormUser ? 'container_form_user' : ''">
		<form 
			[formGroup]="registerForm" 
			(ngSubmit)="submitForm(registerForm)"
		>
			<ion-list>
				<ion-item>
					<ion-icon name="mail"></ion-icon>
					<ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-icon name="lock"></ion-icon>
					<ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
				</ion-item>

				<ion-list>
					<ion-radio-group formControlName="funcao">
						<ion-row>
							<ion-col>
								<ion-item>
									<ion-radio value="professor"></ion-radio>
									<ion-label><p>Professor</p></ion-label>
								</ion-item>
							</ion-col>

							<ion-col>
								<ion-item>
									<ion-radio value="aluno"></ion-radio>
									<ion-label><p>Aluno</p></ion-label>
								</ion-item>
							</ion-col>
						</ion-row>
					</ion-radio-group>
				</ion-list>

				<ion-item [ngClass]="useContainerBotoes_Tab1 ? 'botoes_tab1' : ''">
					<ion-button 
						type="submit" 
						fill="solid"
						[disabled]="registerForm.invalid"
					>
						SUBMIT
					</ion-button>
				</ion-item>
			</ion-list>
		</form>
		</ion-row>
	</ion-grid>
</ion-content>
