ion-content {
	--background: #FCFAFB;
}

/** Imagen **/

.login_img {
	background: #8EAAFE;
	position: absolute;
	width: 100%;
	height: 45%;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.login_img img {
	position: fixed;
	width: auto;
	height: auto;
}

.titulo {
	position: absolute;
	width: 100%;
	left: 0;
	top: 46%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: normal;
	font-size: 9vw;
	line-height: 11vw;

	color: #393393;
}

.subtitulo {
	position: absolute;
	width: 100%;
	left: 0;
	top: 52%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 4vw;
	line-height: 6vw;

	color: #393393;
}

.container_form_user {
	position: absolute;
	top: 60%;
	left: 12%;
}

ion-icon {
	color: #393393;
	margin-right: 0.3em;
	height: 1em;
	width: 1em;
}

ion-input {
	width: 61vw;
	height: 5vh;
	border: none;

	background: #8EAAFE;
	border-radius: 0.3em;
	padding: 0.5em;

	font-size: 1em;
}

::placeholder {
	color: #393393;
}

ion-input, select, textarea{
    color: #393393;
}

@media screen and (min-width: 600px) {
	.container_form_user {
	width: 70vw;
	height: 5vh;

	background: #8EAAFE;
	border-radius: 0.3em;
	padding-left: 0.5em;

	font-size: 1em;
	}

	ion-icon {
	color: #393393;
	margin-right: 0.3em;
	height: 2em;
	width: 2em;
	}

}

.container_botoes_tab1 {
	position: absolute;
	top: 79%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

ion-radio {
	margin-right: 2vw;
}

.botoes_tab1 ion-button {
	margin-left: 20vw;
	margin-top: 10vw;
	width: 25vw;
	height: 7vh;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 5vw;
	line-height: 6vw;

	color: #393393;

}

p {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 4vw;
	line-height: 6vw;

	color: #393393;
}

ion-item {
  --background: rgba(0, 0, 0, 0);
}

ion-list {
  --background: rgba(0, 0, 0, 0);
}
