
/** Roboto Condensed - Normal **/
@font-face {
   font-family: 'Roboto Condensed';
	src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
	font-style: normal;
 }

/** Roboto Condensed - Bold **/
 @font-face {
   font-family: 'Roboto Condensed';
	src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
	font-style: normal;
	font-weight: bold;
 }

/** Roboto - Normal **/
 @font-face {
   font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
	font-style: normal;
 }

 /** Roboto - Normal **/
  @font-face {
   font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
	font-style: normal;
	font-weight: bold;
 }

 /** Roboto Slab - Normal **/

 @font-face {
   font-family: 'Roboto Slab';
	src: url('../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
	font-style: normal;
 }

 /** Roboto Slad - Bold **/
 @font-face {
   font-family: 'Roboto Slab';
	src: url('../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
	font-style: normal;
	font-weight: bold;
 }

 /** Roboto Mono - Normal **/

 @font-face {
   font-family: 'Roboto Mono';
	src: url('../assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf');
	font-style: normal;
 }

 /** Roboto Mono - Bold **/
 @font-face {
   font-family: 'Roboto Mono';
	src: url('../assets/fonts/Roboto_Mono/RobotoMono-Bold.ttf');
	font-style: normal;
	font-weight: bold;
 }