<ion-content scroll-y="false" >
<div>
  <img class="pic" src="../assets/images/Vector1.png">
</div>

<div class="pic2">
  <img src="../assets/images/LOGO.png">
</div>

<ion-grid>
  <ion-list class="perfilprof" lines="none">
    <div class="editarprof">
      <ion-button class="button1" type="submit" fill="solid" size="small">
        <p><ion-icon name="add-circle-outline"></ion-icon>Agendar Aulas</p>
        </ion-button>
    </div>
    <div class="fotoprof">
      <ion-button class="button2" shape="round" size="large"><ion-icon name="camera"></ion-icon ></ion-button>
    </div>
  </ion-list>

  <h1 class="titulo">Id do Prof: {{professor.id}} e id do user: {{professor.user_id}}</h1>

  <ion-card class="info">
    <div class="col"><h5>Matéria</h5> <p>Lorem ipsum blablalalallaalalalaalla</p></div>
    <div class="col"><h5>E-mail</h5> <p>Lorem ipsum blablalalallaalalalaalla</p></div>
    <div class="col"><h5>Bio</h5>
      <ion-item class="bioitem">
      <textarea rows="5" class="bio" lines="none">
      </textarea>{{professor.bio}}</ion-item></div>
  </ion-card>


  <div class="picEnd">
  <img src="../assets/images/photo.png">
</div>
</ion-grid>

</ion-content  >
