<ion-content scroll-y="false" >
<div>
  <img class="pic" src="../assets/images/Vector1.png">
</div>

<div class="pic2">
  <img src="../assets/images/LOGO.png">
</div>

<ion-grid>
  <ion-list class="perfilprof" lines="none">
    <div class="fotoprof">
      <ion-button class="button2" shape="round" size="large"><ion-icon name="camera"></ion-icon ></ion-button>
    </div>
  </ion-list>

  <h1 class="titulo">Id do Prof: {{professor.id}} e id do user: {{professor.user_id}}</h1>

  <ion-row class="botao_agendar_aula">
    <ion-button
      (click)="redirecionaCriarAgendamentos()"
    >
    <ion-icon name="add-circle"></ion-icon> <p>AGENDAR AULA</p></ion-button>
  </ion-row>

  <ion-card class="info">

    <ion-row class="materia">
      <ion-icon name="ios-book"></ion-icon>
      <ion-card><p>Matéria</p></ion-card>
    </ion-row>

    <ion-row class="email">
      <ion-icon name="mail"></ion-icon>
      <ion-card><p>E-mail</p></ion-card>
    </ion-row>

    <!--
    <ion-row class="bio">
      <ion-icon name="md-text"></ion-icon>
      <ion-card>{{professor.bio}}</ion-card>
    </ion-row>
    -->

  </ion-card>


  <div class="picEnd">
  <img src="../assets/images/photo.png">
</div>
</ion-grid>

</ion-content  >
