<ion-content>
	<ion-grid>
		<ion-row>
      <ion-col class="logo">
        <img src="../assets/LOGO.png">
      </ion-col>

      <ion-col class="redireciona_perfil">
        <a (click)="fechaModal()">
          <ion-icon name="close-circle"></ion-icon>
        </a>
      </ion-col>
		</ion-row>

		<ion-row class="titulo"><p>AGENDAMENTOS</p></ion-row>

		<ion-row class="container_form_agendamento">
		<form
			[formGroup]="agendaForm"
			(ngSubmit)="CriaAula(agendaForm)"
		>
			<ion-list>
				<!-- <ion-item>
					<ion-icon name="ios-book"></ion-icon>
					<ion-select
						type="text"
						formControlName="subject_name"
						placeholder="Selecione a Matéria"
						interface="popover"
					>
						<ion-select-option>Cálculo</ion-select-option>
						<ion-select-option>Física</ion-select-option>
						<ion-select-option>Programação</ion-select-option>
						<ion-select-option>Robótica</ion-select-option>
						<ion-select-option>Mecânica</ion-select-option>
						<ion-select-option>Elétrica</ion-select-option>
						<ion-select-option>Termodinâmica</ion-select-option>
						<ion-select-option>Eletromagnetismo</ion-select-option>
						<ion-select-option>Botânica</ion-select-option>
						<ion-select-option>Química</ion-select-option>
						<ion-select-option>Biologia</ion-select-option>
						<ion-select-option>Genética</ion-select-option>
					</ion-select>
				</ion-item>

				 <ion-item>
					<ion-icon name="md-people"></ion-icon>
					<ion-input
						type="text"
						formControlName="teacher_name"
						placeholder="Nome do Professor"
					>
					</ion-input>
				</ion-item> -->

				<ion-item>
					<ion-icon name="pin"></ion-icon>
					<ion-input
						type="text"
						formControlName="address"
						placeholder="Digite o endereço."
					>

					</ion-input>
				</ion-item>

				<ion-item>
					<ion-icon name="md-calendar"></ion-icon>
					<ion-input type="date" formControlName="lesson_date"></ion-input>
				</ion-item>

				<ion-item>
					<ion-icon name="ios-stopwatch"></ion-icon>
					<ion-select
						type="text"
						formControlName="lesson_time"
						placeholder="Selecione o Horario"
						interface="popover"
					>
						<ion-select-option>8:00</ion-select-option>
						<ion-select-option>9:00</ion-select-option>
						<ion-select-option>10:00</ion-select-option>
						<ion-select-option>11:00</ion-select-option>
						<ion-select-option>12:00</ion-select-option>
						<ion-select-option>13:00</ion-select-option>
						<ion-select-option>14:00</ion-select-option>
						<ion-select-option>15:00</ion-select-option>
						<ion-select-option>16:00</ion-select-option>
						<ion-select-option>17:00</ion-select-option>

					</ion-select>
				</ion-item>

			<ion-item class="botao_agendar" lines="none">
				<ion-button
					type="submit"
					fill="solid"
					[disabled]="agendaForm.invalid"
					color="secondary"
				>
					<p>AGENDAR</p>
				</ion-button>
			</ion-item>
		</ion-list>
		</form>
		</ion-row>

		<ion-row class="imagem_fundo">
			<img src="../assets/agendamento_man_with_laptop.png">
		</ion-row>
	</ion-grid>
</ion-content>
