<ion-content>
	<ion-grid>
		<ion-row>
      <ion-col class="logo">
        <img src="../assets/LOGO.png">
      </ion-col>

      <ion-col class="redireciona_perfil">
        <a (click)="redirecionaPagProf()">
          <ion-icon name="close-circle"></ion-icon>
        </a>
      </ion-col>
		</ion-row>

		<ion-row class="titulo"><p>AGENDAMENTOS</p></ion-row>

		<ion-row class="container_form_agendamento">
		<form
			[formGroup]="agendaForm"
			(ngSubmit)="CriaAula(agendaForm)"
		>
			<ion-list>

				<ion-item>
					<ion-icon name="pin"></ion-icon>
					<ion-input
						type="text"
						formControlName="address"
						placeholder="Digite o endereço."
					>

					</ion-input>
				</ion-item>

				<ion-item>
					<ion-icon name="md-calendar"></ion-icon>
					<ion-input type="date" formControlName="lesson_date"></ion-input>
				</ion-item>

				<ion-item>
					<ion-icon name="ios-stopwatch"></ion-icon>
					<ion-select
						type="text"
						formControlName="lesson_time"
						placeholder="Selecione o Horario"
						interface="popover"
					>
						<ion-select-option>8:00</ion-select-option>
						<ion-select-option>9:00</ion-select-option>
						<ion-select-option>10:00</ion-select-option>
						<ion-select-option>11:00</ion-select-option>
						<ion-select-option>12:00</ion-select-option>
						<ion-select-option>13:00</ion-select-option>
						<ion-select-option>14:00</ion-select-option>
						<ion-select-option>15:00</ion-select-option>
						<ion-select-option>16:00</ion-select-option>
						<ion-select-option>17:00</ion-select-option>

					</ion-select>
				</ion-item>

			<ion-item class="botao_agendar" lines="none">
				<ion-button
					type="submit"
					fill="solid"
					[disabled]="agendaForm.invalid"
					color="secondary"
					(click)="confirmaAgendamento()"
				>
					<p>AGENDAR</p>
				</ion-button>
			</ion-item>
		</ion-list>
		</form>
		</ion-row>

		<ion-row class="imagem_fundo">
			<img src="../assets/agendamento_man_with_laptop.png">
		</ion-row>
	</ion-grid>
</ion-content>
