<ion-header class="titulo">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<h1>CRIE SUA CONTA</h1>
</ion-header>

<ion-content class="fundo">
<ion-item>
  <ion-input placeholder="Nome Completo"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="E-mail"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Senha"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Confirmar senha"></ion-input>
</ion-item>
<button>CRIAR CONTA</button>

<img src="../assets/images/cadastro.png">
</ion-content>
