<ion-content [ngClass]="useFundo ? 'fundo' : ''">

	<div [ngClass]="useTitulo ? 'titulo' : ''">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

		CRIE SUA CONTA
	</div>

	<ion-row>
		<div [ngClass]="useInputConfig ? 'input_config' : ''">
			<ion-icon name="contact"></ion-icon>
			<input 
				type="" 
				name="" 
				placeholder="Nome Completo"
			>	
		</div>
	</ion-row>

	<ion-row>
		<div [ngClass]="useInputConfig ? 'input_config' : ''">
			<ion-icon name="mail"></ion-icon>
			<input 
				type="" 
				name="" 
				placeholder="E-mail"
			>	
		</div>
	</ion-row>

	<ion-row>
		<div [ngClass]="useInputConfig ? 'input_config' : ''">
			<ion-icon name="lock"></ion-icon>
			<input 
				type="" 
				name="" 
				placeholder="Senha"
			>	
		</div>
	</ion-row>

	<ion-button>CRIAR CONTA</ion-button>

	<img src="../assets/images/cadastro.png">
</ion-content>
