ion-content.fundo{
--background: #8EAAFE;
  }
ion-header.titulo{
	
	padding-left: 20%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  background-color: #8EAAFE;


  display: flex;
  align-items: center;
  text-align: center;

}