ion-content {
	--background: #FFCC00;
}

ion-row {
	display: flex;
	justify-content: center;
}

ion-col {
	display: flex;
	justify-content: center;
}

ion-button {
	--background: #8EAAFE;
	border-radius: 0.9vw;
	width: 25%;
	height: 5%;
	box-shadow: 0.3vw 0.3vw 0vw #393393;
}

.logo_style {
	position: fixed;
	left: 24%;
	top: 3vh;
}

.botoes {
	position: fixed;
	top: 30%;
}

.botoes_entrar {
	position: fixed;
	left: 24%;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 4.5vw;
	line-height: 5vw;
	text-align: center;

	color: #FFFFFF;
}

.botoes_cadastrar {
	position: fixed;
	left: 52%;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 4.5vw;
	line-height: 5vw;
	text-align: center;

	color: #FFFFFF;
}

/** Imagem de Fundo **/

.imagem_background img {
	position: fixed;
	width: 100%;
	height: auto;
	left: 0vw;
	bottom: 0vh;
}

@media screen and (min-width: 400px) {
	.imagem_background img {
	position: fixed;
	width: 100%;
	height: 62%;
	left: 0vw;
	bottom: 0vh;
	}
}