<ion-content>
	<ion-grid>
		<ion-row class="logo_style">
			<img src="../assets/happy-aulas-logo.png">
		</ion-row>

		<ion-row class="botoes">
			<ion-col>

	        	<ion-button
		        	fill="solid"
		        	expand="full"
		        	class="botoes_entrar"
		        	(click)="redirecionaLogin()"
	        	>
	        		ENTRAR
	        	</ion-button>

	    	</ion-col>

	    	<ion-col>

	        	<ion-button
		        	fill="solid"
		        	expand="full"
		        	class="botoes_cadastrar"
		        	(click)="redirecionaCadastro()"
	        	>
	        		CADASTRAR
	    		</ion-button>

	    	</ion-col>
		</ion-row>

	</ion-grid>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="redirecionaHome()">
    <ion-fab-button>
      <ion-icon name="planet"></ion-icon>
    </ion-fab-button>
  </ion-fab>


	<div class="imagem_background">
		<img src="../assets/inicial_mesa.png">
	</div>
</ion-content>
