.slide-container {
  height: 100%;
  width: 100%;
}

.botao_fecha {
  --background: #393393;
  color: white;
  font-family: Roboto;
  font-style: normal;
  line-height: 1em;
  font-size: 1em;
  font-weight: bold;
}

.slide-container img {
  height: 100%;
  width: 100%;
}

.info-card ion-card {
  position: absolute;
  left: 10vw;
  top: 20vh;
  z-index: 10000;
}
