<ion-content>
<ion-slides>
  <ion-slide>
    <div class="slide1">
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide2">
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide3">
    </div>
  </ion-slide>
</ion-slides>

<ion-card class="card_msg">

  <img src="../../assets/LOGO.png">

  <p>
    Seja bem-vindx a nossa plataforma! O Happyaulas ajuda a conectar alunos e 
    professores de diversas matérias acadêmicas de forma inclusiva. O nosso aplicativo busca possibilitar 
    a flexibilidade de um usuario assumir o papel de aluno enquanto pode atuar como professor ao mesmo tempo: E esse
    é o nosso diferencial. Obrigadx por baixar o nosso aplicativo e esperamxs fazer parte do seu crescimento 
    acadêmico e profissional.
  
  </p>

</ion-card>

</ion-content>

<ion-button class="botao_fecha" (click)="fechaModal()">Ok</ion-button>
