.slide-container {
  height: 100%;
  width: 100%;
}

.botao_fecha {
  --background: #393393;
  color: white;
  font-family: Roboto;
  font-style: normal;
  line-height: 1em;
  font-size: 1em;
  font-weight: bold;
}
