ion-content {
	--background: #FCFAFB;
}

.container_div {
	background: #FCFAFB;
	z-index: 10000000;
}

.card_info {
	--background: #8EAAFE;
	position: fixed;
	margin: 2vh;
	height: 15%;
	z-index: 100000;
}

.card_mensagem {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4em;

	/**font-family: Roboto;
	font-style: normal;
	line-height: 15px;**/
	font-size: 0.8em;
	font-weight: bold;

	color: #FFFFFF;
}

.container_img_card ion-img {
	position: fixed;
	right: 0;
	top: 0;
	width: 60vw;
	height: auto;
}

.container_img_card {
	width: 100%;
	height: 100%;
}

.card_pesquisa {
	--background: #8EAAFE;
	position: fixed;
	margin: 2vh;
	height: 5%;
	width: 93vw;
	top: 17vh;

	display: flex;
	align-items: center;

	z-index: 100000;
}

.card_pesquisa ion-icon {
	color: #FCFAFB;
	height: 1.7em;
	width: 1.7em;
	margin: 0.9em;
}

.card_pesquisa input {
	margin-right: 0.9em;
	background: transparent;
	border: none;
	width: 100%;
	height: 100%;
}

::placeholder {
	color: white;
}

input, select, textarea{
    color: white;
}

.container_materias {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: auto;
	top: 24vh;
}

.materias_config img {
	height: auto;
	width: auto;
}

ion-row {
	display: flex;
	justify-content: center;
	margin-top: 0.6em;
}