<ion-toolbar>
    <ion-grid>
    <ion-row>
    <ion-card class="card_info">
            <ion-row>
                <ion-col class="card_mensagem">
                    <p>Seja bem-vindo, Fulano. Começe a navegar! O app é uma forma prática e eficiente de encontrar professores qualificados próximos à você.</p>
                </ion-col>
                <ion-col class="container_img_card">
                    <ion-img src="../assets/home_man_with_laptop.png"></ion-img>
                </ion-col>
            </ion-row>
    </ion-card>
    </ion-row>

    <ion-row>
        <ion-card class="card_pesquisa">
            <ion-icon name="search"></ion-icon>
            <input
                type=""
                name="pesquisa"
                placeholder="Pesquisar..."
            >
        </ion-card>
    </ion-row>
    </ion-grid>
</ion-toolbar>

<ion-content>

    <div class="container_materias">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let materia of materias; let i = index" size=6>
                  <ion-card
                    class="materias_config"
                    color="primary"
                    (click)="redirecionaMateria()"
                  >
                    <ion-grid>

                      <ion-row>
                        <img src={{materia.imagem}}>
                      </ion-row>

                      <ion-row>
                        <p>{{ materia.nome }}</p>
                      </ion-row>

                    </ion-grid>
                  </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
	</div>
</ion-content>
