.fundo {
    --background: #8EAAFE;
}

.perfil{
    background: rgba(0,0,0,0);
	display:flex;
	flex-direction: column;
	align-items: center;
}

.foto{
    --background: rgba(0,0,0,0);
    
}

.button3{
    background: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
	margin-left: 13%;
	margin-right: 13%;
	height: 5%;
}

.button2{
    border-radius: 100%;
	background-color: white;
	width: auto;
	height:2;
}

.info{
	margin-left: 13%;
	margin-right: 13%;
	background: white;
	text-align: center;
	padding:2%;
	margin-top: 0;
	margin-bottom: 0;
	
}

.imagemrow{
	
	display:flex;
	justify-content: center;
}

#imagem{
	width: 91%;
}

.button1{
	width: 100%;
    height: 29%;
    font-size: 65%;
	
}
.button4{
	--background:#393393;
	display:flex;
	justify-content: center;
}