<ion-content scroll-y="false" class="fundo"> <!-- alterei a cor do background -->

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

  <div class="foto1"> <!-- foto da ondinha branca em cima -->
  	<img src="../assets/images/vector.png">
	</div>
  <div class="foto2"> <!-- foto da logo -->
  <img src="../assets/LOGO.png">
  </div>

 <ion-grid>
  <ion-list class="perfil" lines="none"> <!-- circulo da foto e botao de editar -->
  <div class="editar"> <!-- botao de editar -->
    <ion-button class="button1" type="submit" fill="solid" size="small">
	<ion-icon name="create"></ion-icon>Editar
    </ion-button>
	</div>
	<div class="foto"> <!-- lugar onde usuarios colocarao suas fotos de perfil -->
      <img src="http://localhost:8000/{{user.profile_picture}}">
	</div>
</ion-list>

<div> <!-- informações do cadastro do usuario aparecerão aqui-->
<p class="info">{{user.name}}</p>
<p class="info">{{user.email}}</p>
<ion-button class="button3" (click)="redirecionaMeusAgendamentos()" color="secondary">Meus agendamentos</ion-button>
</div>

<ion-fab  vertical="bottom" horizontal="end">
  <ion-fab-button color="secondary" (click)="abreModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-button class="button3" size="large" (click)="logout()">Sair da conta</ion-button> <!-- botao de sair da conta -->

<!-- botao que redireciona para a pagina de cadastro do professor -->
<ion-button class="button4" (click)="redirecionaCadastroProf()"><div><ion-icon class="textcolor" size="large" name="refresh-circle"></ion-icon></div><div class="text"><span class="textcolor">  QUERO ME TORNAR</span><span class="textcolor"> UM PROFESSOR </span></div></ion-button>

<ion-row class="imagemrow"> <!-- imagem de fundo de baixo -->

  <img id="imagem" src="../assets/images/imagem1.png">


</ion-row>
</ion-grid>
</ion-content>
